@import '../../../style/constants.less';

.dropdown-container {
  .hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.5s ease-in-out;
  }

  .show {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.15s, opacity 0.5s ease-in-out;
  }

  .dropdown-toggle {
    // min-width: 200px;
    width: 100%;
    height: 32px;
    border: 2px solid @light-gray;
    background: unset;
    color: @dark-gray;
    border-radius: 2px;
    padding: 5px;
    display: flex;

    &:focus {
      outline: 0;
    }

    .dropdown-toggle-text {
      width: 90%;
      text-align: left;
    }

    .dropdown-toggle-caret {
      width: 10%;
      text-align: right;
      color: @light-gray;
      position: relative;
      transition: all 0.25s;

      .dropdown-toggle-caret-container {
        position: absolute;
        right: 0;
        width: 10px;
        transition: all 0.20s;
      }

      .flip {
        transform: rotate(180deg);
        transform-origin: center;
      }
    }
  }

  .dropdown-content {
    list-style: none;
    padding: 0px;
    margin: 5px 0px 0px 0px;
    position: absolute;
    z-index: 1000;

    .dropdown-item-btn {
      color: @dark-gray;
      background: white;
      min-width: 200px;
      height: 32px;
      border: 2px solid @light-gray;
      border-radius: 2px;
      padding: 0px;
      margin: 0px;

      &:hover {
        background: @light-orange;
        outline: none;
      }
    }

    li + li {
      .dropdown-item-btn {
        border-top: unset;
        border-radius: unset;
      }
    }
  }
}