@import './constants.less';

:root {
  color: @dark-gray;
  font-family: @base-font-family;
  line-height: 1.6;
}

.title {
  font-size: @large-font-size;
}

.sub-title {
  font-size: @medium-font-size;
  &.bold {
    font-weight: bold;
  }
}

.paragraph-text {
  font-size: @small-font-size;
}

.paragraph-small-text {
  font-size: @extra-small-font-size;
}

